h1, h2 {
	text-align: center;
}
main {
	margin: 0 auto;
	width: 100%;
}
.carousel {
	margin: 0 auto;
	width: 90%;
}
.prev {
	float: left;
	width: 20%;
	padding: 0 20px;
}
.prev img {
	float: left;
	max-width: 40px;
}
.next {
	float: right;
	width: 20%;
	padding: 0 20px;
}
.next img {
	float: right;
	max-width: 40px;
}
.current {
	float: left;
	width: 40%;
	margin: 0 20px;
}
ul {
	list-style-type: none;
}
li {
	display: block;
	margin: 2px;
	padding: 5px;
	border: 1px solid;
}


